extends layout


block extraHeader
	script(src='../lib/moment.min.js')
	script(src='../lib/jquery.min.js')
	script(src='../lib/fullcalendar.min.js')
	script(src='../js/calendar.js')

block content
	h1= title
	#calendar
	